.loginContainer {
  background: #ffffff;
  min-width: 25rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.formGroup {
  margin-bottom: 1.5rem;
  text-align: left;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
  font-size: 1rem;
}

.formGroup input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.formGroup input:focus {
  border-color: #6e8efb;
}

.loginBtn {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #6e8efb;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginBtn:hover {
  background-color: #5768db;
}
